@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #181818;
  }
}

body {
  background-color: var(--color-zinc-50);
  color: var(--color-zinc-700);
  font-family: Arial, Helvetica, sans-serif;
}

blog-content h1, h2, h3 {
  font-weight: bold;
}